* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    
    /* black theme */
    /*color: #F7F8F8;*/
    /* white theme */
    /*color: #373A43;*/
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    align-items: flex-end;
    justify-content: flex-start;
}

.sidepop-up {
    zoom: 0.8;
    width: 476px;
    height: 761px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #373A43;

    overflow: hidden;

    opacity: 1;
    transition: opacity 0.3s ease, height 0.6s ease;
}

.dark {
    color: #F7F8F8;
}

.head {
    flex-shrink: 0;

    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px 24px 0 0;
    background-color: #F7F8F8;
    /* black theme */
    /*background-color: #484C5C;*/
    /* white theme */
    /*background-color: #F7F8F8;*/
}

.dark .head {
    background-color: #484C5C;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 12px;
}

.profile-avatar {
    width: 40px;
    height: 40px;
}

.profile-avatar > img{
    width: 100%;
    height: 100%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.profile-info .username {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.profile-info .user-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.profile-info .user-status p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.close-btn {
    cursor: pointer;
}

.close-btn svg path {
    fill: black;
}

.dark .close-btn svg path {
    fill: white;
}

.chat {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 579px;
    width: 100%;
    padding: 1px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /*background-color: #eeeeee;*/
    background-color: #ededf1;
    /* black theme */
    /*background-color: #2f313b;*/
    /* white theme */
    /*background-color: #eeeeee;*/
}

.dark .chat {
    background-color: #2f313b;
}

.chat .date {
    margin-top: 8px;
    padding: 4px 16px;
    border-radius: 32px;
    width: fit-content;
    height: auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    position: absolute;
    border: 1px solid #3E414E;
    background-color: #D7D9E0;
    color: #1E1F25;
    z-index: 7;
    /* black theme */
    /*background-color: #3E414E;
    color: #F7F8F8;*/
    /* white theme */
    /*background-color: #D7D9E0;
    color: #1E1F25;*/
}

.dark .chat .date {
    background-color: #3E414E;
    color: #F7F8F8;
}

.empty-chat {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    color: #8C92A4;
    /* black theme */
    /*color: #B4B7C5;*/
    /* white theme */
    /*color: #8C92A4;*/
}

.dark .empty-chat {
    color: #B4B7C5;
}

/* messages */
.messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow-y: auto;
    /* for Firefox */
    scrollbar-width: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
}

.messages .message-container:nth-child(even) {
    flex-direction: row-reverse;
}

.messages .message-container:first-child {
    margin-top: 48px;
}

.message-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.messages .message-container:nth-child(odd) .message-group{
    margin-left: 40px;
    align-items: flex-end;
}

.messages .message-container:nth-child(even) .message-group{
    margin-right: 40px;
    align-items: flex-start;
}

.message {
    max-width: 348px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    padding: 12px;  
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #1E1F25;
    background-color: #D7D9E0;
    z-index: 5;
    /* black theme */
    /*color: #ffffff;
    background-color: #484C5C;*/
    /* white theme */
    /*color: #1E1F25;
    background-color: #D7D9E0;*/
}

.dark .message {
    color: #ffffff;
    background-color: #484C5C;
}

.message:first-child {
    border-radius: 12px 12px 0 0;
}

.messages .message-container:nth-child(even) .message:last-child {
    border-radius: 0 0 12px 0;
}

.messages .message-container:nth-child(odd) .message:last-child {
    border-radius: 0 0 0 12px;
}

.messages .message-container:nth-child(even) .message{
    background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
    color: #ffffff;
    animation: appendMessageFromRight 0.3s forwards;
}

@keyframes appendMessageFromRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.messages .message-container:nth-child(odd) .message {
    padding: 12px 24px 12px 12px;
}

.message > .read-check{
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.message.unread-message > .read-check path {
    fill: #B4B7C5;
}

.message.read-message > .read-check path {
    fill: #373A43;
}

.dark .message.read-message > .read-check path {
    fill: #F7F8F8;
}

.messages .message-container:nth-child(even) .message:only-child{
    border-radius: 12px 12px 12px 0;
}

.messages .message-container:nth-child(odd) .message:only-child{
    border-radius: 12px 12px 0 12px;
}

.messages .message-container:nth-child(odd) .message{
    animation: appendMessageFromLeft 0.3s forwards;
}

@keyframes appendMessageFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.sender {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.send-time {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #6D748A;
    /* black theme */
    /*color: #B4B7C5;*/
    /* white theme */
    /*color: #6D748A;*/
}

.dark .send-time {
    color: #B4B7C5;
}

.sender-avatar {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #D7D9E0;
    /* black theme */
    /*background-color: #484C5C;*/
    /* black theme */
    /*background-color: #D7D9E0;*/
}

.dark .sender-avatar {
    background-color: #484C5C;
}

.sender-avatar img {
    width: 100%;
    height: 100%;
}

/* message input */
.message-input {
    flex-shrink: 0;
    flex-grow: 0;
    max-height: (100% - 24px - 567px);

    padding: 16px 16px 24px 24px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border-radius: 0 0 24px 24px;
    background-color: #F7F8F8;
    /* black theme */
    /*background-color: #484C5C;*/
    /* black theme */
    /*background-color: #F7F8F8;*/
}

.dark .message-input {
    background-color: #484C5C;
}

.message-input > .msg-input-fields {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-field {
    width: 100%;
    height: auto;
}

.input-field > .input-message {
    overflow-y: auto;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    resize: none;
    color: #373A43;  
    /* black theme */
    /*color: #F7F8F8;*/
    /* white theme */
    /*color: #373A43;*/
}

.dark .input-field > .input-message {
    color: #F7F8F8;
}

.input-field > .input-message::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #B4B7C5;
    /* black theme */
    /*color: #8C92A4;*/
    /* white theme */
    /*color: #B4B7C5;*/
}

.dark .input-field > .input-message::placeholder {
    color: #8C92A4;
}

.input-field > .input-message::-webkit-scrollbar {
    background-color: #7a8099;
    border-radius: 4px;
    width: 10px;
}

.input-field > .input-message::-webkit-scrollbar-thumb {
    background-color: #494c5c;
    border-radius: 4px;
    border: 2px #61657a solid;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: auto;
    height: 32px;
}

.buttons img {
    cursor: pointer;
}

/* record voice message */
.voice-msg-container, .doc-container {
    width: 100%;
    border-radius: 88px;
    background-color: #d7d9e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.play-voice-msg-btn, .open-doc-btn  {
    position: relative;
    margin-right: 12px;
    top: 3px;
}

.delete-msg-btn{
    position: relative;
    margin-left: 12px;
    top: 1px;
}

.waves {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.waves > div {
    height: 18px;
    width: 4px;
    border-radius: 20px;
    
    /* wher voice message is recording */
    background-color: #006fff;
    /* wher voice message is recorded */
    /*background-color: #8C92A4;*/
}

.timer > span{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #6d748a;
}

/* document */
.doc-info{
    height: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.doc-info .doc-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #484C5C;
}

.doc-info .doc-size {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #6d748a;
}

/* show popup checkbox */
.show-popup-btn {
    zoom: 0.8;
    height: 72px;
    width: 72px;
    background-color: #006fff;
    border-radius: 72px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-popup-btn input{
    height: 72px;
    width: 72px;
    border-radius: 72px;
    opacity: 0;
    position: absolute;
}

.show-popup-btn:has(#show-popup-checkbox:checked) + .sidepop-up {
    opacity: 0;
    height: 0;
}

/* download doc */
.download-doc-container {
    margin: 24px 0;
    border: 1px #D7D9E0 dashed;
    background-color: #F7F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.dark .download-doc-container {
    border: 1px #585E71 dashed;
    background-color: #484C5C;
}

.download-doc-container > .put-file-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
}

.dark .put-file-icon > svg > path {
    fill: #F7F8F8;
}

.put-file-icon > svg > path {
    fill: #1E1F25;
}

.dark .put-file-icon > p {
    color: #F7F8F8;
}

.put-file-icon > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1E1F25;
}


@media (max-width: 375px) {  
    .messages .message-container:nth-child(odd) .message-group{
        margin-left: 0;
    }
    .messages .message-container:nth-child(even) .message-group{
        margin-right: 0;
    }
    
    .input-field > .input-message {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 476px) {

    .sidepop-up {
        zoom: 1;
        width: 100%;
        /*height: 98svh;*/
        height: 100%;
    }
    .show-popup-btn {
        visibility: hidden;
        position: absolute; 
    }
    .show-popup-btn:has(#show-popup-checkbox:checked) {
        position: relative;
        visibility: visible;
        margin: 20px;
    }
    
    .head {
        border-radius: 0;
    }
    .chat {
        padding: 1px 16px;
        height: 100%;
        max-height: none;
    }
    .message {
        max-width: 364px;
    }
    .message-input {
        border-radius: 0;
    }
}




